body {
  background-color: whitesmoke;
  color: #303030;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

header {
  background-color: #303030;
  color: antiquewhite;
  padding: 3%;
}

header h1 {
  font-size: 1.6em;
}

main {
  display: flex;
}

h1 {
  font-size: 1.3em;
  font-weight: 600;
  /* margin-top: 30px; */
  text-align: center;
}

section {
  /* background-color: #dbd8d8; */
  padding-top: 30px;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.form-check {
  width: max-content;
}

.listedCategories {
  background-color: #d3d3d3;
  border-radius: 4px;
  color: rgb(30, 30, 30);
  font-weight: 400;
  font-size:15px;
  height: min-content;
  margin-right: 10px;
  padding: 1%;
  width: 270px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-img-top {
  height: 184px;
}

.boxshadow {
  box-shadow: 3px 1.5px 1.5px #505050;
}

.shipping-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cart-container p{
  max-width: fit-content;
}

.cart-container a{
  display: flex;
  align-items: center;
}

.cart-container h3{
  font-size:1.2em;
  margin: 15px;
}

#cart-section{
  display: flex;
}

#teste{
  margin-top: 20px;
}

#cart-title{
  margin: 15px 0;
  text-align: center;
}

#cart-button{
  margin: auto;
}

#floatingInput {
  width: 600px;
}

#shopping-cart {
  align-items: center;
  display: flex;
  margin-left: 15px;
  width: max-content;
}

#shopping-cart-size {
  margin-right: 5px;
  width: fit-content;
}

#checkout-title{
  font-size: 0.9em;
  text-align: center;
  margin-top:30px
}

#shippingcart {
  position: absolute;
  left: 0px;
  top: 0px;
}

#checkout-btn{
  margin-top:15px
}