.productTitle {
  line-height: 1.2rem;
  max-height: 4.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.product-quantity-container {
  display: flex;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
